<div id="primaryNav">
    <ul class="site-nav" id="AccessibleNav">
        {% for link in linklists.main-menu.links %}
            {% comment %}
            Create a dropdown menu by naming a linklist the same as a link in the parent nav
    
            More info on dropdowns:
                - http://docs.shopify.com/manual/your-website/navigation/create-drop-down-menu
            {% endcomment %}
            {% assign child_list_handle = link.title | handleize %}
            {% if linklists[child_list_handle].links != blank %}
            <li class="site-nav--has-dropdown{% if link.active %} site-nav--active{% endif %}" aria-haspopup="true">
                <a href="{{ link.url }}" class="site-nav__link">
                {{ link.title }}
                <span class="icon icon-arrow-down" aria-hidden="true"></span>
                </a>
                <ul class="site-nav__dropdown">
                {% for childlink in linklists[child_list_handle].links %}
                    <li{% if childlink.active %} class="site-nav--active"{% endif %}>
                    <a href="{{ childlink.url }}" class="site-nav__link">{{ childlink.title | escape }}</a>
                    </li>
                {% endfor %}
                </ul>
            </li>
            {% else %}
            <li {% if link.active %}class="site-nav--active"{% endif %}>
                <a href="{{ link.url }}" class="site-nav__link">{{ link.title }}</a>
            </li>
            {% endif %}
        {% endfor %}
        {% comment %}
        If customer accounts are enabled, provide login and create account links
        {% endcomment %}
        {% if shop.customer_accounts_enabled %}
            <div class="account-wrap">
                {% if customer %}
                {% if customer.first_name != blank %}
                    {% capture first_name %}<a href="/account">{{ customer.first_name }}</a>{% endcapture %}
                    {{ 'layout.customer.logged_in_as_html' | t: first_name: first_name }}
                {% else %}
                    <a href="/account">{{ 'layout.customer.account' | t }}</a>
                {% endif %}
                | {{ 'layout.customer.log_out' | t | customer_logout_link }}
                {% else %}
                {{ 'layout.customer.log_in' | t | customer_login_link }}
                | {{ 'layout.customer.create_account' | t | customer_register_link }}
                {% endif %}
            </div>
        {% endif %}
    </ul>
</div>