{% form "product", product %}
{% assign option_index = 0 %}
{% assign values = '' %}


{% for option in product.options_with_values %}
{% assign option_index = forloop.index0 %}
    {% assign downcased_option = option.name | downcase %}
    {% if downcased_option contains 'color' or downcased_option contains 'colour' %}
        {% assign is_color = true %}
    {% endif %}
    
    {% if is_color %}
        <div class="choice-color">
            <h4>{{ option.name }}</h4>
            {% for value in option.values %}
                <input id="swatch-{{ value | escape }}-{{ value | handle }}" type="radio" name="option-{{ name | escape }}" value="{{ value | escape }}"{% if forloop.first %} checked{% endif %} />
                <label for="swatch-{{ value | escape }}-{{ value | handle }}">
                    {{ value }}
                </label>
            {% endfor %}
        </div>
    {% else %}
        <div class="choice-size">
            <h4>{{ option.name }}</h4>
            {% for value in option.values %}
                <input id="swatch-{{ value | escape }}-{{ value | handle }}" type="radio" name="option-{{ name | escape }}" value="{{ value | escape }}"{% if forloop.first %} checked{% endif %} />
                <label for="swatch-{{ value | escape }}-{{ value | handle }}">
                    {{ value }}
                </label>
            {% endfor %}
        </div>
    {% endif %}
{% endfor %}

    <div class="choice-buttons">
        <div class="accent-wrap">
            <button type="submit" name="add" id="AddToCart">Add to cart</button>
        </div>
        <div class="accent-wrap alternate">
            <a href="" class="alter">Learn More</a>
        </div>
    </div>
{% endform %}

<script>
    var selectCallback = function(variant, selector) {
      timber.productPage({
        money_format: "{{ shop.money_format }}",
        variant: variant,
        selector: selector
      });
      if (variant) {
            var form = jQuery('#' + selector.domIdPrefix).closest('form');
            for (var i=0,length=variant.options.length; i<length; i++) {
                var radioButton = form.find('.swatch[data-option-index="' + i + '"] :radio[value="' + variant.options[i] +'"]');
                if (radioButton.size()) {
                radioButton.get(0).checked = true;
                }
            }
        }
    };
  
    jQuery(function($) {
      new Shopify.OptionSelectors('productSelect', {
        product: {{ product | json }},
        onVariantSelected: selectCallback,
        enableHistoryState: true
      });
  
      // Add label if only one product option and it isn't 'Title'. Could be 'Size'.
      {% if product.options.size == 1 and product.options.first != 'Title' %}
        $('.selector-wrapper:eq(0)').prepend('<label for="productSelect-option-0">{{ product.options.first | escape }}</label>');
      {% endif %}
  
      // Hide selectors if we only have 1 variant and its title contains 'Default'.
      {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
        $('.selector-wrapper').hide();
      {% endif %}
    });
  </script>
  